<section id="about">
    <div class="content">
        <div class="row">
            <div class="col-md-8">
                <h2>About Me</h2>
                <hr class="nude">
                <p>
                    My name is Angel S. Moreno. I go by angelxmoreno on major social sites.
                </p>
                <p>
                    I am a 35yo full-stack engineer with over 15 years experience in web application development.
                    I started coding when I was 12 using QBASIC. I began ma journy as a web guru in 1998 designing
                    web pages for small business. In 1999 I learn my first back-end language, PHP.
                </p>
                <p>
                    I currently live in The Bronx area of New York City. I am currently working on a few client projects
                    and volunteering some of my time as a mentor and part time CTO.
                </p>

                <hr class="nude">
                <a href="javascript:void(0)" class="btn btn-primary">Download resume</a>
                <hr class="nude">
            </div>
            <div class="col-md-3 col-md-offset-1">
                <h4>Technologies I use</h4>
                <ul class="nav nav-skills">
                    <li><a class="text-muted">JavaScript</a></li>
                    <li><a class="text-muted">AngularJS</a></li>
                    <li><a class="text-muted">NodeJS</a></li>
                    <li><a class="text-muted">PHP</a></li>
                    <li><a class="text-muted">CakePHP</a></li>
                    <li><a class="text-muted">Bootstrap3</a></li>
                    <li><a class="text-muted">PostgreSQL</a></li>
                    <li><a class="text-muted">MySQL</a></li>
                    <li><a class="text-muted">MongoDB</a></li>
                    <li><a class="text-muted">IOS</a></li>
                    <li><a class="text-muted">SWIFT</a></li>
                </ul>
                <hr class="nude">
            </div>
        </div>
    </div>
</section>