<section id="works">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <h2>Portfolio</h2>
                <hr class="nude">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <figure class="project">
                    <a target="_other" href="#">
                        <img class="img-responsive" src="/assets/img/sites/instawho.png" alt="" />
                        <figcaption class="caption">
                            InstaWho
                            <span class="fa fa-external-link-square"></span>
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-sm-6 col-md-4">
                <figure class="project">
                    <a target="_other" href="#">
                        <img class="img-responsive" src="/assets/img/sites/twitfeedy.png" alt="" />
                        <figcaption class="caption">
                            TwitFeedy
                            <span class="fa fa-external-link-square"></span>
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-sm-6 col-md-4">
                <figure class="project">
                    <a target="_other" href="#">
                        <img class="img-responsive" src="/assets/img/sites/instawho.png" alt="" />
                        <figcaption class="caption">
                            View project
                            <span class="fa fa-external-link-square"></span>
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-sm-6 col-md-4">
                <figure class="project">
                    <a target="_other" href="#">
                        <img class="img-responsive" src="/assets/img/sites/instawho.png" alt="" />
                        <figcaption class="caption">
                            View project
                            <span class="fa fa-external-link-square"></span>
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-sm-6 col-md-4">
                <figure class="project">
                    <a target="_other" href="#">
                        <img class="img-responsive" src="/assets/img/sites/instawho.png" alt="" />
                        <figcaption class="caption">
                            View project
                            <span class="fa fa-external-link-square"></span>
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-sm-6 col-md-4">
                <figure class="project">
                    <a target="_other" href="#">
                        <img class="img-responsive" src="/assets/img/sites/instawho.png" alt="" />
                        <figcaption class="caption">
                            View project
                            <span class="fa fa-external-link-square"></span>
                        </figcaption>
                    </a>
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr class="nude">
                <a data-scroll href="#contact" class="btn btn-primary">I got surprised?</a>
                <hr class="nude">
            </div>
        </div>
    </div>
</section>