<section id="repositories">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <h2>Repositories</h2>
                <hr class="nude">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-repositories">
                    <li>
                        <a href="https://github.com/gosquared/flutter/commits?author=angelxmoreno" target="_other">
                            Flutter - <code><small>Contributed</small></code>
                            <br /><small>Twitter OAuth module for Node.js</small>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/cakephp/docs/commits?author=angelxmoreno" target="_other">
                            CakePHP Documentation - <code><small>Contributed</small></code>
                            <br /><small>CakePHP CookBook http://book.cakephp.org</small>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/cakephp/cakephp/commits?author=angelxmoreno" target="_other">
                            CakePHP Framework - <code><small>Contributed</small></code>
                            <br /><small>The Rapid Development Framework for PHP</small>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/angelxmoreno/CakePHP-TMDB-Datasource" target="_other">
                            TMDB Datasource - <code><small>Created</small></code>
                            <br /><small>A CakePHP plugin for accessing the TMDB API via a Datasource</small>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/angelxmoreno/CakePHP-Environment-Switcher-Plugin" target="_other">
                            Environment Switcher - <code><small>Created</small></code>
                            <br /><small>Config Environment Switcher for the CakePHP Framework</small>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/angelxmoreno/CakePHP-Simply-Hired-Job-Datasource" target="_other">
                            Simply-Hired Datasource - <code><small>Created</small></code>
                            <br /><small>A CakePHP Datasource for accessing Simply Hired's API</small>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/angelxmoreno/CakePHP-Wordpress-Datasource" target="_other">
                            Wordpress Datasource - <code><small>Created</small></code>
                            <br /><small>CakePHP Plugin for accessing Wordpress via XML-RPC</small>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr class="nude">
                <a href="https://github.com/angelxmoreno" target="_other" class="btn btn-primary">View on Github</a>
                <hr class="nude">
            </div>
        </div>
    </div>
</section>