<section id="services">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <h2>Services</h2>
                <hr class="nude">
            </div>
        </div>
        <div class="row services">
            <div class="col-xs-6 col-sm-6 col-md-4">
                <span class="icon fa fa-desktop"></span>
                <h4>Web Development</h4>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4">
                <span class="icon fa fa-cloud"></span>
                <h4>Web Applications</h4>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4">
                <span class="icon fa fa-mobile"></span>
                <h4>Mobile Applications</h4>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4">
                <span class="icon fa fa-facebook-square"></span>
                <h4>Facebook Applications</h4>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4">
                <span class="icon fa fa-twitter"></span>
                <h4>Twitter Applications</h4>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4">
                <span class="icon fa fa-instagram"></span>
                <h4>Instagram Applications</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr class="nude">
                <a data-scroll href="#contact" class="btn btn-primary">Let's talk</a>
                <hr class="nude">
            </div>
        </div>
    </div>
</section>