<nav class="navbar navbar-blue" role="nav">
    <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/repos">Repositories</a></li>
        <li><a href="/contact">Contact</a></li>
        <li>
            <ul class="social-links list-inline">
                <li>
                    <a target="_other" href="https://twitter.com/angelxmoreno">
                        <span class="fa fa-twitter"></span>
                    </a>
                </li>
                <li>
                    <a target="_other" href="https://github.com/angelxmoreno">
                        <span class="fa fa-github"></span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>